.ending-banner{
	widows: 100%;
	background-color: #F5CAC3;
	padding-top: 20px;
	padding-bottom: 20px;
}

.social-media{
	text-align: center;
	font-size: 40px;
	
}

.social-media i {
	color: black;
	padding-left: 10px;
	padding-right: 10px;
}